.col1,
.col2,
.col3,
.col4 {
    margin: 1px;
    float: left;
}

@media screen and (min-width: 500px) {

    .col1,
    .col2,
    .col3,
    .col4 {
        width: 48%;
    }

}

@media screen and (min-width: 1000px) {

    .col1,
    .col2,
    .col3,
    .col4 {
        width: 24%;
    }
}



/* On screens that are 500px or more, set the background color to purple */
@media screen and (min-width: 500px) {
    .minerals {
        background-color: rgb(142, 142, 233);
    }
}

/* On screens that are 1000px or more, set the background color to yellow */
@media screen and (min-width: 1000px) {
    .minerals {
        background-color: rgb(245, 245, 156);
    }
}

@media screen and (min-width: 500px) {
    .vegetables {
        font-size: small;
        color: rgb(110, 22, 22)
    }
}

@media screen and (min-width: 1000px) {
    .vegetables {
        font-size: large;
        color: rgb(4, 81, 100)
    }
}